# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# Require approval from listed person(s) to make changes to .github config files, like this CODEOWNERS file
.github/*                           @kwhickey

# Oversight of all JavaScript files falls to this person to approve
*.js                                @ebdabbs

# Either/any of the people listed below can approve the contract-change
usaspending_api/api_contracts/**    @ebdabbs @dpb-bah
