# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# Require approval from listed person(s) to make changes to .github config files, like this CODEOWNERS file
.github/*                           @fedspendingtransparency/Admins

# Oversight of all JavaScript files falls to this person to approve
# Commenting out for now. Governing this as part of the code-review process
#*.js                                @ebdabbs

# Either/any of the people listed below can approve the contract-change
# Commenting out for now. Governing this as part of the code-review process
#usaspending_api/api_contracts/**    @ebdabbs @dpb-bah
