*.pyc
*.swp
*.env
.cache
.coverage
.DS_Store

pip-selfcheck.json
log/*
csv_downloads/*
tmp/*
usaspending_api/logs/*
usaspending_api/.idea/*
usaspending_api/references/.idea/*
usaspending_api/financial_activities/.idea/*
.idea/*

# pyenv ignores
.python-version
pyvenv.cfg

# for a project-local (rather than home-dir based) virtual environment directory
.venv/ 

# direnv ignores
.direnv/
.envrc

.pgdump
.ipynb
.lprof
.pytest_cache/*


