*.pyc
*.swp
*.env
.cache
.coverage
.DS_Store

log/*
csv_downloads/*
usaspending_api/logs/*
usaspending_api/.idea/*
usaspending_api/references/.idea/*
usaspending_api/financial_activities/.idea/*
.idea/misc.xml
.idea/usaspending-api.iml
.idea/workspace.xml
.idea/modules.xml
.idea/*
.idea/vcs.xml
