exclude: /(\.git|\.venv|venv|migrations)/
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
        - id: debug-statements
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
        - id: ruff-check
          types_or: [ python, pyi ]  # avoid linting other python file types like Jupyter notebooks
