language: python

python:
- "3.5"

services: postgresql

addons:
  postgresql: "9.4"

env:
  global:
  - DATABASE_URL=postgres://postgres@localhost/usaspending_api
  - DJANGO_SETTINGS_MODULE='usaspending_api.settings'

install:
- pip install -r requirements/requirements.txt
- pip install coveralls

before_script:
- psql -c "CREATE DATABASE usaspending_api;" -U postgres

script:
- flake8
- pytest --cov=usaspending_api

after_success:
- codeclimate-test-reporter
#- coveralls
