language: python

python:
  - '3.5'
  - '3.7'

services:
  - postgresql

addons:
  postgresql: '9.6'

env:
  global:
    - DATABASE_URL='postgres://postgres@localhost/usaspending_api'
    - DJANGO_SETTINGS_MODULE='usaspending_api.settings'
    - ES_HOSTNAME='http://localhost:9200'

before_install:
  - npm install dredd@5.4.1 --global

install:
  - if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then travis_retry pip install -r requirements/requirements_3.7.txt; else travis_retry pip install -r requirements/requirements.txt; fi
  - pip install coveralls
  - if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then travis_retry pip install black; fi

before_script:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.1.1.deb && sudo dpkg -i --force-confnew elasticsearch-6.1.1.deb && sudo service elasticsearch restart
  - psql -c "CREATE DATABASE usaspending_api;" -U postgres
  - psql -c "CREATE USER readonly;"
  - python manage.py migrate
  - sleep 10  # recommended by Travis to ensure Elasticsearch has time to spin up

script:
  - flake8
  - if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then black --check . ; fi
  - python manage.py check_for_endpoint_documentation
  - pytest --cov=usaspending_api
  # - dredd  (Disable dredd until test data is loaded into DB for API responses)

after_success:
  - codeclimate-test-reporter
