language: python

python:
- "3.5"

services:
- postgresql
- elasticsearch

addons:
  postgresql: "9.6"

env:
  global:
  - DATABASE_URL=postgres://postgres@localhost/usaspending_api
  - DJANGO_SETTINGS_MODULE='usaspending_api.settings'
  - ES_HOSTNAME='http://localhost:9200'

install:
- pip install -r requirements/requirements.txt
- pip install coveralls

before_script:
- psql -c "CREATE DATABASE data_broker_test;" -U postgres
- psql -U postgres data_broker_test < broker_schema.dump
- psql -c "CREATE DATABASE usaspending_api;" -U postgres
- psql -c "CREATE USER readonly;"
- psql -c "CREATE EXTENSION postgres_fdw; CREATE EXTENSION dblink;" -U postgres -d usaspending_api
- psql -c "CREATE SERVER test_broker_server FOREIGN DATA WRAPPER postgres_fdw OPTIONS (host 'localhost', port '5432', dbname 'data_broker');" -U postgres -d usaspending_api
- psql -c "CREATE USER MAPPING FOR root SERVER test_broker_server OPTIONS (user 'postgres');" -U postgres -d usaspending_api
- sed -i 's/ES_HOSTNAME = ""/ES_HOSTNAME = os.environ.get("ES_HOSTNAME")/' usaspending_api/settings.py

script:
- flake8
- pytest --cov=usaspending_api
- python manage.py migrate
- psql $DATABASE_URL -f usaspending_api/database_scripts/matviews/functions_and_enums.sql -v ON_ERROR_STOP=1 --quiet
- python usaspending_api/database_scripts/matview_generator/matview_sql_generator.py --dest='temp_sql/' --quiet
- psql $DATABASE_URL -f temp_sql/universal_transaction_matview.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/universal_award_matview.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_transaction_view.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_transaction_month_view.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_transaction_geo_view.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_award_view.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_view_cfda_number.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_view_naics_codes.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_view_psc_codes.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_view.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/summary_state_view.sql -v ON_ERROR_STOP=1 --quiet
- psql $DATABASE_URL -f temp_sql/subaward_view.sql -v ON_ERROR_STOP=1 --quiet

after_success:
- codeclimate-test-reporter
#- coveralls
