[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "usaspending_api.settings"
addopts = "--cov=usaspending_api"
markers = [
    "signal_handling: Mark all tests that import the signal library and invoke signals. This MUST be done on the main thread, and can cause errors if pytest-xdist subordinates parellel test sessions to background threads.",

    # These are "auto" marked based on fixture usage. See conftest.py pytest_collection_modifyitems
    "spark: Mark all tests using the spark fixture. Can be selected with -m spark or deselected with -m (not spark)",
    "database: Mark all integration tests using a database. Can be selected with -m database or deselected with -m (not database)",
    "elasticsearch: Mark all integration tests using Elasticsearch. Can be selected with -m database or deselected with -m (not elasticsearch)",
]
pythonpath = [
  "."
]

[tool.coverage.run]
omit = [
    # tests themselves don't need coverage measurements
    "*/tests/*",
    # nor db migration scripts
    "*/migrations/*",
]

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover"
]

[tool.black]
line-length = 120
target-version = ['py310']
exclude = '/(\.git|\.venv|venv|migrations)/'

[tool.pylint]
load-plugins = [
    "pylint.extensions.mccabe"
]
disable = [
    "all"
]
enable = [
    "too-many-instance-attributes",
    "too-many-public-methods",
    "too-many-return-statements",
    "too-many-branches",
    "too-many-arguments",
    "too-many-statements",
    "too-many-boolean-expressions",
    "too-complex",
    "too-many-lines",
    "too-many-nested-blocks"
]

[tool.pylint.design]
max-args = 6
max-public-methods = 20
max-attributes = 10
max-bool-expr = 8
max-branches = 10
max-returns = 3
max-statements = 45
max-complexity=10


[tool.pylint.format]
max-module-lines = 250

[tool.pylint.refactoring]
max-nested-blocks = 5
