black==24.4.0
click==8.1.7
docker==7.0.0
dredd-hooks==0.2.0
flake8==7.0.0
importlib-metadata==7.0.0
mock==5.1.*
model-bakery==1.17.*
pip==23.2.1
pre-commit==3.7.0
pyspark==3.5.1
pytest==8.1.*
pytest-cov==5.0.*
pytest-django==4.8.0
pytest-pretty==1.2.*
pytest-xdist==3.5.*
