black==19.10b0
coverage==4.5.4
docker==4.1.0
dredd-hooks==0.2.0
flake8==3.7.8
git+https://github.com/fedspendingtransparency/django-mock-queries#egg=django-mock-queries
mccabe==0.6.1
mock==3.0.5
model-mommy==1.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest-cov==2.8.1
pytest-django==3.5.1
pytest==4.3.1
