black==24.10.0
click==8.1.7
docker==7.0.0
dredd-hooks==0.2.0
flake8==7.1.0
importlib-metadata==8.5.0
mock==5.1.*
model-bakery==1.17.*
pip==23.2.*
pre-commit==3.6.2
pyspark==3.5.0
pytest==8.0.*
pytest-cov==4.1.*
pytest-django==4.8.*
pytest-pretty==1.2.*
pytest-xdist==3.5.*
