black==20.8b1
click==8.0.4
docker==5.0.3
dredd-hooks==0.2.0
flake8==3.8.4
importlib-metadata<5  # need to pin <5 while flake8 is on 3.8.4
mock==5.1.*
model-bakery==1.13.*
pip==23.2.*
pre-commit==1.20.0
pyspark==3.2.1
pytest==7.4.*
pytest-cov==4.1.*
pytest-django==4.2.*  # Going > 4.2 yields multi-db errors
pytest-pretty==1.2.*
pytest-xdist==3.3.*
opentelemetry-api==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-instrumentation==0.37b0
opentelemetry-instrumentation-django==0.37b0
opentelemetry-instrumentation-wsgi==0.37b0
opentelemetry-exporter-otlp==1.16.0
# Need to run 'opentelemetry-bootstrap -a install' command and it is a CLI tool and should be run seperately
# The command reads through the list of packages installed in your active site-packages folder, 
# and installs the corresponding instrumentation libraries for these packages,