<style>

body {
    padding: 0;
    margin: 0;
}

.warning-banner-wrap {
    background: rgba(255, 241, 210, 0.95);
    min-height: 35px;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #fad980;
}

.warning-banner-wrap .warning-banner {
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;
}

.warning-banner-wrap .warning-banner .usa-da-icon {
    margin: -5px 10px 0 0;
    height: 30px;
    width: 30px;
    float: left;
}

.warning-banner-wrap .warning-banner .top-alert-text p {
    max-width: 100%;
    margin: 5px 0;
    font-size: 14px;
}
</style>

<div class="warning-banner-wrap">
    <div class="warning-banner">
        <div class="top-alert-icon">
            <i class="usa-da-icon">
              <svg viewBox="0 0 512 512" aria-label="Exclamation Mark Icon"><title>Exclamation Mark Icon</title>
                <g>
                  <path d="M502.7 491.8l-240-480c-4-8-10.3-8-14.3 0l-240 480c-3.8 7.8 0 14.2 9 14.2h476.3c9 0 13-6.4 9-14.2zM282 438c0 .6-.3 1-1 1h-51.4c-.6 0-1-.4-1-1v-47h-.3c0-.5.4-1 1-1H281c.7 0 1 .5 1 1v47zm2-74.7h-57l-7-178.5h71l-7 178.5z">
                  </path>
                </g>
              </svg>
            </i>
        </div>
        <div class="top-alert-text">
            <p>This site is not intended to be an official resource for federal spending data. To submit official federal spending data, please visit&nbsp;<a href="http://www.usaspending.gov" target="_blank" rel="noopener noreferrer">USAspending.gov</a></p>
        </div>
    </div>
</div>
