name: Build Broker Docker Image for Test

on:
  workflow_call:

jobs:
  # This job is a workaround that allows defining a dynamic variable that is provided as input
  # to another job. See here: https://github.com/orgs/community/discussions/26671#discussioncomment-3931817
  Setup-Variables:
    uses: ./.github/workflows/determine-broker-branch.yaml

  Run:
    name: Run
    needs: Setup-Variables
    runs-on: ${{ vars.RUNNER_VERSION }}
    steps:
      - name: Checkout Broker Backend
        uses: actions/checkout@v4
        with:
          repository: fedspendingtransparency/data-act-broker-backend
          path: data-act-broker-backend
          ref: ${{ needs.Setup-Variables.outputs.broker-branch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./data-act-broker-backend
          tags: dataact-broker-backend:latest
          outputs: type=docker,dest=/tmp/dataact-broker-backend.tar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dataact-broker-backend
          path: /tmp/dataact-broker-backend.tar
