name: Run Code Quality Checks

on:
  workflow_call:

jobs:
  Run:
    # These checks are not broken out into multiple jobs because the steps to prepare the environment
    # take the bulk of the time. Running them in parallel saves minimal time at the cost of using more
    # runners than needed.
    name: Run
    runs-on: ${{ vars.RUNNER_VERSION }}
    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v4
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files
        with:
          files: |
            **.py
          separator: ","
      - name: install pylint
        run: pip install pylint==4.0.2
      - name: pylint
        run: pylint --load-plugins pylint.extensions.mccabe --disable=all --enable=\          
          too-many-instance-attributes,\
          too-many-public-methods,\
          too-many-return-statements,\
          too-many-branches,\
          too-many-arguments,\
          too-many-statements,\
          too-many-boolean-expressions,\
          too-complex,\
          too-many-lines,\
          too-many-nested-blocks \
          ${{ steps.changed-files.outputs.all_changed_files }}




